.App {
  text-align: center;
}

.dashboard {
  display:flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  background-color: #ffff;
}
.dashboard h1 {
  color:#fff;
}
.maps-container {
  width:75%;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.sidebar {
  width:25%;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #efefef;
}